<?xml version="1.0"?>
<launch>

  <arg name="bag_file_1" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2018-06-21\ Experimentos\ JIRS/2018-06-21_1.bag"/>
  <arg name="bag_file_2" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-01-14\ iuii\ y\ patos/2021-01-14-11-29-41.bag"/>
  <arg name="bag_file_3" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-01-14\ iuii\ y\ patos/2021-01-14-11-50-14.bag"/>
  <arg name="bag_file_4" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-01-14\ iuii\ y\ patos/2021-01-14-11-59-46.bag"/>
  <arg name="bag_file_5" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-01-21\ parque\ cientifico/2021-01-21-11-06-56.bag"/>
  <arg name="bag_file_6" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-01-21\ parque\ cientifico/2021-01-21-11-21-03.bag"/>
  
  <arg name="bag_file_7" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-02-26\ Experimentos\ RAL/2021-02-26-11-03-22.bag"/>
  <arg name="bag_file_8" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-02-26\ Experimentos\ RAL/2021-02-26-11-29-37.bag"/>
  <arg name="bag_file_9" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-02-26\ Experimentos\ RAL/2021-02-26-12-11-43.bag"/>
  <arg name="bag_file_10" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-02-26\ Experimentos\ RAL/2021-02-26-12-49-18.bag"/>
  <arg name="bag_file_11" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2021-02-26\ Experimentos\ RAL/2021-02-26-13-10-46.bag"/>
  
  <rosparam command="load" file="$(find application_localization)/params/blue_fusion_offline.yaml" />
	
	<!-- select your robot -->
  <include file="$(find robot_blue)/launch/components/start_tf.launch" />
  
  <!-- node for decoding velodyne packages -->
  <include file="$(find robot_blue)/launch/components/start_velodyne.launch" />
  
  <include file="$(find ackermann_to_odom)/launch/start_odometry.launch" />
  <node pkg="gps_to_odom" type="gps_to_odom" name="gps_to_odom" output="screen">
    <remap from="fix" to="rover/fix" />
  </node>
  
  <node pkg="ekf_fusion" type="ekf_fusion" name="ekf_fusion" output="screen">
    <remap from="odom" to="odometry" />
  </node>
  
  <node pkg="rosbag" type="play" name="rosbagplay" args="$(arg bag_file_8) --clock -d 5" required="true" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find application_localization)/rviz/blue_fusion.rviz" />
	
</launch>
