<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="True" /> <!-- TODO: get from parameter -->
  
  <!-- select your bag file -->
  <arg name="bag_file_1" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2019-06-05\ cam-velo\ indoor/2019-06-05-12-05-53.bag"/>
  <arg name="bag_file_2" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2019-06-05\ cam-velo\ indoor\ 2/2019-06-05-14-02-20.bag"/>
  <arg name="bag_file_3" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2019-06-27\ cam-velo\ inout/2019-06-27-13-52-18.bag"/>
  <arg name="bag_file_4" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2019-06-27\ cam-velo\ inout/2019-06-27-13-54-33.bag"/>
  <arg name="bag_file_5" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2019-06-27\ cam-velo\ inout/2019-06-27-13-56-49.bag"/>
  <node pkg="rosbag" type="play" name="rosbagplay" args="$(arg bag_file_5) --clock -d 5" required="true" />

  <!-- node for decoding velodyne packages -->
  <include file="$(find robot_blue)/launch/components/start_velodyne.launch" />

  <!-- launch your robot -->
  <include file="$(find robot_blue)/launch/components/start_tf.launch" />
  
  <!-- calibration node -->
  <node name="online_calibration" pkg="online_calibration" type="online_calibration" output="screen">
    <remap from="image" to="/camera/color/image_raw" /> <!-- TODO: get from parameter (previous change node code) -->
    <!-- <remap from="image" to="/camera/depth/image_rect_raw" /> -->
  </node>

  <!-- visualization of the results -->
  <node name="plot_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="plot_out" />
    <param name="autosize" value="False" />
  </node>
  <node name="depth_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="depth_out" />
    <param name="autosize" value="False" />
  </node>
  <node name="color_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="color_out" />
    <param name="autosize" value="False" />
  </node>
  <node name="matches_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="matches_out" />
    <param name="autosize" value="False" />
  </node>

</launch>
