<?xml version="1.0"?>
<launch>    
  <rosparam command="load" file="$(find application_localization)/params/dump_imu_data_for_calibration_with_imutk.yaml" />
  <node name="dump_imu_data_for_calibration_with_imutk" pkg="dump_imu_data_for_calibration_with_imutk" type="dump_imu_data_for_calibration_with_imutk" output="screen"/>
  <include file="$(find robot_blue)/launch/components/start_imu.launch" />
</launch>
