<?xml version="1.0"?>
<launch>

  <!-- select your bag file -->
  <arg name="bag_file_1" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2018-07-06\ Reactivo\ hokuyo/2018-07-06-13-03-40_filt.bag"/>
  <arg name="bag_file_2" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2018-06-21\ Experimentos\ JIRS/2018-06-21_1_filt.bag"/>
  <arg name="bag_file_3" default="/home/mice85/aurova-lab/labrobotica/local/Datasets/AUROVA/2018-10-02\ Indoor\ IUII/2018-10-02-12-56-14_filt.bag"/>
  
  <rosparam command="load" file="$(find application_localization)/params/gmapping_blue_offline.yaml" />
  
  <!-- select your robot -->
  <include file="$(find robot_blue)/launch/start_tf.launch" />
  <include file="$(find ackermann_to_odom)/launch/start_odometry.launch" />
  
  <!-- take into account the SCAN argument!! -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=scan" output="screen"/>
  <node pkg="rosbag" type="play" name="rosbagplay" args="$(arg bag_file_2) --clock -d 5" required="true" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find application_localization)/rviz/gmapping.rviz" />
  
</launch>
